# MIB Vanilla flavours (none or almost /patches-vanilla) plus 32bit PAE  

%define build_vanilla			0
%define build_vanilla_desktop		0
%define build_vanilla_laptop		0
%define build_vanilla_netbook		0
%define build_vanilla_server		0

%ifarch %{ix86}
%define build_vanilla_pae		0
%define build_vanilla_desktop_pae	0
%define build_vanilla_laptop_pae	0
%endif



#
# kernel-vanilla: i686, smp-alternatives, 4 GB / x86_64
#
%if %build_vanilla
%ifarch %{ix86}
%define summary_vanilla Linux Kernel for desktop use with i686 & 4GB RAM
%define info_vanilla This kernel is compiled for desktop use, single or \
multiple i686 processor(s)/core(s) and less than 4GB RAM, using HZ_1000, \
voluntary preempt, CFS cpu scheduler and CFQ i/o scheduler.
%else
%define summary_vanilla Linux Kernel for desktop use with %{_arch}
%define info_vanilla This kernel is compiled for desktop use, single or \
multiple %{_arch} processor(s)/core(s), using HZ_1000, \
voluntary preempt, CFS cpu scheduler and CFQ i/o scheduler, ONDEMAND governor.
%endif
%mkflavour vanilla
%endif

# kernel-vanilla-desktop: i686, smp-alternatives, 4 GB / x86_64
#
%if %build_vanilla_desktop
%ifarch %{ix86}
%define summary_vanilla_desktop Linux Kernel for desktop use with i686 & 4GB RAM
%define info_vanilla_desktop This kernel is compiled for desktop use, single or \
multiple i686 processor(s)/core(s) and less than 4GB RAM, using HZ_1000, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%else
%define summary_vanilla_desktop Linux Kernel for desktop use with %{_arch}
%define info_vanilla_desktop This kernel is compiled for desktop use, single or \
multiple %{_arch} processor(s)/core(s), using HZ_1000, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%endif
%mkflavour vanilla-desktop
%endif

# kernel-vanilla-laptop: i686, smp-alternatives, 4 GB / x86_64
#
%if %build_vanilla_laptop
%ifarch %{ix86}
%define summary_vanilla_laptop Linux Kernel for laptop use with i686 & 4GB RAM
%define info_vanilla_latop This kernel is compiled for laptop use, single or \
multiple i686 processor(s)/core(s) and less than 4GB RAM, using HZ_300, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%else
%define summary_vanilla_laptop Linux Kernel for laptop use with %{_arch}
%define info_vanilla_laptop This kernel is compiled for laptop use, single or \
multiple %{_arch} processor(s)/core(s), using HZ_300, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%endif
%mkflavour vanilla-laptop
%endif

# kernel-vanilla-netbook: i686, smp-alternatives, 4 GB / x86_64
#
%if %build_vanilla_netbook
%ifarch %{ix86}
%define summary_vanilla_netbook Linux Kernel for netbook use with i686 & 4GB RAM
%define info_vanilla_netbook This kernel is compiled for netbook use, single or \
multiple i686 processor(s)/core(s) and less than 4GB RAM, using HZ_250, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%else
%define summary_vanilla_netbook Linux Kernel for netbook use with %{_arch}
%define info_vanilla_netbook This kernel is compiled for netbook use, single or \
multiple %{_arch} processor(s)/core(s), using HZ_250, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%endif
%mkflavour vanilla-netbook
%endif

#
# kernel-vanilla-server: i686, smp-alternatives, 64 GB / x86_64
#
%if %build_vanilla_server
%ifarch %{ix86}
%define summary_vanilla_server Linux Kernel for server use with i686 & 64GB RAM
%define info_vanilla_server This kernel is compiled for server use, single or \
multiple i686 processor(s)/core(s) and up to 64GB RAM using PAE, using \
no preempt, HZ_100, CFS cpu scheduler and CFQ i/o scheduler.
%else
%define summary_vanilla_server Linux Kernel for server use with %{_arch}
%define info_vanilla_server This kernel is compiled for server use, single or \
multiple %{_arch} processor(s)/core(s), using no preempt, HZ_100, \
CFS cpu scheduler and CFQ i/o scheduler.
%endif
%mkflavour vanilla-server
%endif

%ifarch %{ix86}
#
# kernel-vanilla-pae: i686, smp-alternatives, 64GB
#
%if %build_vanilla_pae
%define summary_vanilla_pae Linux kernel for desktop use with i686 & upto 64GB RAM
%define info_vanilla_pae This kernel is compiled for desktop use, single or \
multiple i686 processor(s)/core(s) and up to 64GB RAM using PAE, using HZ_1000, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%mkflavour vanilla-pae
%endif
%endif

%ifarch %{ix86}
#
# kernel-vanilla-desktop-pae: i686, smp-alternatives, 64GB
#
%if %build_vanilla_desktop_pae
%define summary_vanilla_desktop_pae Linux kernel for desktop use with i686 & upto 64GB RAM
%define info_vanilla_desktop_pae This kernel is compiled for desktop use, single or \
multiple i686 processor(s)/core(s) and up to 64GB RAM using PAE, using HZ_1000, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%mkflavour vanilla-desktop-pae
%endif
%endif

%ifarch %{ix86}
#
# kernel-vanilla-laptop-pae: i686, smp-alternatives, 64GB
#
%if %build_vanilla_laptop_pae
%define summary_vanilla_laptop_pae Linux kernel for laptop use with i686 & upto 64GB RAM
%define info_vanilla_laptop_pae This kernel is compiled for laptop use, single or \
multiple i686 processor(s)/core(s) and up to 64GB RAM using PAE, using HZ_300, \
full preempt, rcu tree and boost, CFS cpu scheduler and CFQ i/o scheduler.
%mkflavour vanilla-laptop-pae
%endif
%endif

